[Unit]
Description=CODERS website

[Service]
WorkingDirectory=/home/rocky/CODERS_Website-main
ExecStart=/usr/bin/node /home/rocky/CODERS_Website-main/node_modules/@angular/cli/bin/ng.js serve --host 138.49.184.127 --port 8443

[Install]
WantedBy=multi-user.target
