[Unit]
Description=CODERS Club Website

[Service]
WorkingDirectory=/home/rocky/website-main
ExecStart=/usr/bin/node /home/rocky/website-main/node_modules/@angular/cli/bin/ng.js serve --host 138.49.184.127 --port 8443

[Install]
WantedBy=multi-user.target
