<!-- Opportunities component: Available Collaborations and Upcoming Events -->

<!-- REFRENCES SCRIPT FOR IMAGE CAROUSEL -->
<html>
  <script src="Img.js" defer></script>
<body>

<!-- COLLABORATIONS OF CODERS CLUB -->
<h1>Our Collaborations</h1>
<div class="container">
  <div class="card-carousel">

    <!-- CARD 1 -->
    <div class="card" id="carousel1-card1">
      <div class="image-container"></div>
      <p>Boy's and Girls Club</p>
      <h6>Volunteer Teaching Computer Science to K-12 Children</h6>
    </div>

    <!-- CARD 2 -->
    <div class="card" id="carousel1-card2">
      <div class="image-container"></div>
      <p>IEEE</p>
      <h6>Collaborating on Events, Research, and Promoting STEM Majors</h6>
    </div>

    <!-- CARD 3 -->
    <div class="card" id="carousel1-card4">
      <div class="image-container"></div>
      <p>Di-STEM</p>
      <h6>Join DiSTEM at UWL for inclusive STEM support, resources, and monthly meetings. <br> Open to all students!</h6>
    </div>

    <!-- CARD 4 -->
    <div class="card" id="carousel1-card5">
      <div class="image-container"></div>
      <p>Real Estate Club</p>
      <h6>Showcasing the technology behind Real Estate Operations</h6>
    </div>

    <!-- CARD 5 -->
    <div class="card" id="carousel1-card3">
      <div class="image-container"></div>
      <p>Black Student Unity</p>
      <h6>Black Student Unity aims to foster comfort, 
        unity, and multicultural awareness among students
         while supporting their success and strengthening 
         the Black community! </h6>
    </div>

  </div>
  <a href="#" class="visuallyhidden card-controller">Carousel controller</a>
</div>

<!-- FUTURE OPPORTUNITIES -->
<h1>Past Events and Opportunities</h1>
<div class="container">
  <div class="card-carousel">

    <!-- CARD 1 -->
    <div class="card" id="carousel2-card1">
      <div class="image-container"></div>
      <p>Kids' College</p>
      <h6>Teaching 6-8th Graders Computer Science Concepts for Career Inspiration</h6>
    </div>

    <!-- CARD 2 -->
    <div class="card" id="carousel2-card2">
      <div class="image-container"></div>
      <p>Enchanted Forst Trick or Treat Trail</p>
      <h6>Handing Out Candy to Children of All Ages And Promoting CODERS</h6>
    </div>

    <!-- CARD 3 -->
    <div class="card" id="carousel2-card3">
      <div class="image-container"></div>
      <p>Cookies With CODERS</p>
      <h6>Cookies, Projects, Friends and Fun! <br> What More Could You Ask For?</h6>
    </div>

    <!-- CARD 4 -->
    <div class="card" id="carousel2-card4">
      <div class="image-container"></div>
      <p>Internship Support - Career Services</p>
      <h6>Working With UWL CSH Career Services to Find Internships for CS Students</h6>
    </div>

    <!-- CARD 5 -->
    <div class="card" id="carousel2-card5">
      <div class="image-container"></div>
      <p>Science and Math Career Forum</p>
      <h6>Promoting CODERS and Showcasing the Awesome Field of STEM!</h6>
    </div>

  </div>
  <a href="#" class="visuallyhidden card-controller">Carousel controller</a>
</div>

<!-- EXTERNAL RESOURCES FOR USERS -->
<section id="resources" style="text-align: center; width: 100%;">

  <h2 style="text-align: center; width: 100%;">Outreach Resources</h2>

  <ul style="list-style-type: none; padding: 0;">
    
    <li>
      <a href="{{'https://www.uwlax.edu'}}">UW-La Crosse Website</a>
    </li>
    
    <li>
      <a href="https://uwlmyorgs.campuslabs.com/engage/organization/coders">Join CODERS Today!</a>
    </li>
    
    <li>
      <a href="https://www.cs.uwlax.edu">CS & CPE Homepage</a>
    </li>
    
    &nbsp;
    
  </ul>
</section>

</body>
</html>
