<!-- Opportunities component: Available Collaborations and Upcoming Events -->
<h3>Opportunities Page test</h3>

<html>
  <script src="Img.js" defer></script>
<body>
    <!-- Further code here -->
    <h1>Drag the cards to move them</h1>
<div class="container">
  <div class="card-carousel" #cardCarousel>
    <div class="card" id="1">
      <div class="image-container"></div>
      <p>Example 1!</p>
    </div>
    <div class="card" id="2">
      <div class="image-container"></div>
      <p>Example 2!</p>
    </div>
    <div class="card" id="3">
      <div class="image-container"></div>
      <p>Example 3!</p>
    </div>
    <div class="card" id="4">
      <div class="image-container"></div>
      <p>Example 4!</p>
    </div>
    <div class="card" id="5">
      <div class="image-container"></div>
      <p>Example 5!</p>
    </div>
  </div>
  <a href="#" class="visuallyhidden card-controller">Carousel controller</a>
</div>
</body>
</html>