@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.top-bar {
    background-color: #95a0fe;
    padding: 8px 0;
    border-bottom: 1px solid #eee;
    
    .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    .social-links {
      color: #000000;
      font-size: 14px;
      
      a {
        color: #000000;
        margin-left: 15px;
        text-decoration: none;
        
        &:hover {
          color: #0011a4;
        }
      }
    }
    
    .contact-info {
      color: #000000;
      font-size: 14px;
    }
  }

  @media (max-width: 445px) {
    .top-bar {
      display: none;
    }
    .navbar-brand img{
      height: 80px;
      width: 100%;
    }
  }

.nav-link{
    margin-right: 28px;
    font-weight: 600;
    color: #646464;
  }
.navbar-nav{
  margin-left: 120px;
}
.navbar-brand img{
  height: 80px;
  width: 100%;
  
}

