<div class="top-bar">
  <div class="container">
    <div class="social-links">
      Follow us on
      <a href="javascript:void(0)"><fa-icon class="icon" [icon]="faFacebook" aria-hidden="true"></fa-icon></a>
      <a href="javascript:void(0)"><fa-icon class="icon" [icon]="faTwitter" aria-hidden="true"></fa-icon></a>
      <a href="javascript:void(0)"><fa-icon class="icon" [icon]="faInstagram" aria-hidden="true"></fa-icon></a>
      <a href="https://discord.gg/qWepNnmVcb" target="_blank"><fa-icon class="icon" [icon]="faDiscord" aria-hidden="true"></fa-icon></a>
      <a href="https://github.com/UWL-CODERS" target="_blank"><fa-icon class="icon" [icon]="faGithub" aria-hidden="true"></fa-icon></a>
    </div>
    <div class="contact-info">
      <fa-icon [icon]="faEnvelope"></fa-icon>
      Contact us at <a href="mailto:{{ email }}">{{ email }}</a>
    </div>
  </div>
</div>

<div>
  <section class="main-header">
    <div class="container">    
      <div class="logo">
        <a (click)="navigateAndReload('/home')">
          <img src="assets/images/headerlogo.png" alt="CODERS Club logo">
        </a>
      </div>      
      <nav class="main-nav">
        <ul>
          <li><a (click)="navigateAndReload('/home')">Home</a></li>
          <li><a (click)="navigateAndReload('/research')">Research & Projects</a></li>
          <li><a (click)="navigateAndReload('/opportunities')">Opportunities</a></li>
          <li><a (click)="navigateAndReload('/pictures')">Pictures</a></li>
          <li><a (click)="navigateAndReload('/aboutus')">About Us</a></li>
        </ul>
      </nav>
    </div>
  </section>
</div>