<!-- <div class="top-bar">
  <div class="container">
    <div class="social-links">
      Follow Us
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-pinterest"></i></a>
    </div>
    <div class="contact-info">
      Email: {{ email }}
    </div>
  </div>
</div> -->


  <nav class="navbar navbar-expand-lg bg-light">
   <div class="container">
    <a class="navbar-brand" href="#"> <img src="./mainlogo.png"> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/opportunities">Opportunities</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/research">Research & Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/pictures">Pictures</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/aboutus">About Us</a>
        </li>
      </ul>
    </div>
   </div>
  </nav>


