/* Transition Styles */
.transition {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 1001; /* Increased z-index to be greater than the logo-cube */
    pointer-events: none;
}

.transition-row {
    flex: 1;
    display: flex;
}

.transition-row.row-1 .block {
    transform-origin: top;
}

.transition-row.row-2 .block {
    transform-origin: bottom;
}

.block {
    flex: 1;
    background-color: rgb(58, 129, 247);
    transform: scaleY(1);
    will-change: transform;
    min-width: 50px;
    /* Adjust as needed */
}

/* Layout Styles */
app-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Ensure layout covers viewport */
}

/* Ensure header and router-outlet are within the layout */
app-header {
    width: 100%;
    /* Take full width */
    order: 1;
    /* Ensure correct order */
}

router-outlet {
    flex: 1;
    /* Allow content to grow and take available space */
    order: 2;
}