<!-- Main component: Primary content and layout for the home page -->
<div class="main-container">
    <div class="title">
        <h3>Welcome to CODERS!</h3>
    </div>

    <section class="whatCLUB">
        <h4>What is the CLUB?</h4>
        <p>UWL is a CLUB dedicated to enhancing the La Crosse community by
            promoting computer science education,
            supporting students, and fostering diversity in tech.
            <br><br>We also have free cookies!!!
        </p>
    </section>

    <section class="whatwedo">
        <h4>What do we do?</h4>
        <ul>
            <li><b>Community outreach: </b>
                We teach fundamental computer science skills to local residents,
                empowering them with technological knowledge for the betterment
                of the entire community.</li>
            <li><b>Student support: </b>
                We provide comprehensive support to students on campus,
                promoting their professional skills to enhance academic performance
                and career readiness.</li>
            <li><b>Diversity promotion: </b>
                We actively promote diversity in computer science by encouraging
                participation from all minority groups and serving as a
                support network for all students, fostering an inclusive
                environment where everyone can thrive.</li>
        </ul>
    </section>

    <section class="howtojoin">
        <h4>How can you join?</h4>
        <p>You can head on over to <a href="https://orgs.uwlax.edu/organization/coders" target="_blank"
                rel="nooperner noreferrer">
                MyOrgs</a> to join!
        </p>
    </section>

    <section class="schedule">
        <h4>Our Schedule</h4>
        <ul>
            <li><b>Cookies With CODERS</b> - Tuesdays, 3:30 PM - 5:30 PM at WING 016</li>
            <li><b>Boys and Girls CLUB Volunteering</b>
                <ul>
                    <li>Thursday, March 13 - 3:45 PM - 5:10 PM</li>
                    <li>Thursday, March 20 - 3:45 PM - 5:10 PM</li>
                    <li>Thutsday, March 27 - 3:45 PM - 5:10 PM</li>
                </ul>
            </li>
            <li><b>Kid's College Volunteering</b> - Friday, April 11
                <ul>
                    <li>Session 2 - 10:50 AM - 11:50 AM</li>
                    <li>Session 3 - 12:40 PM - 1:40 PM</li>
                </ul>

            </li>

        </ul>

    </section>

    <section class="socials">
        <h4>Our socials</h4>
        <p>bird seeds</p>
    </section>

    <!-- Your container with the question and box animation -->
    <div class="container">
        <section class="Question">
            &nbsp;
            <h4>What is in the Box?</h4>
            <p>Hover Over To Find Out!</p>
        </section>
        </div>
    <!-- Your logo cube component -->
    <app-logo-cube></app-logo-cube>

    <!-- The text to appear on hover -->
    <p class="hover-message">It's the Spirit of CODERS!</p>
