/* Remove the fixed positioning from the component selector */
app-logo-cube {
  width: 400px; /* Set a specific width */
  margin: 15px auto; /* Center the component horizontally and add vertical margins */
  display: flex;
  justify-content: center; /* Center content within the logo cube horizontally */
  align-items: center; /* Center content within the logo cube vertically */
  background-color: transparent; /* This is for the logo-cube, not the hover detection */
}

.rave-section {
  background-color: rgb(59, 50, 50);
  padding: 50px 0;
  height: 30vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rave-section .container {
  height: 100%;
}

.main-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.whatclub {
  text-align: justify;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

h1, h2 {
  color: #007bff;
}

section {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

section:last-child {
  border-bottom: none;
}

select:focus, input:focus, button:focus {
  outline: none;
}

.Question {
  text-align: center; /* Center text within the Question section */
  margin-bottom: 20px; /* Add some space below the Question section */
}

.hover-message {
  opacity: 0; /* Initially hide the text */
  font-size: 1.1em; /* Adjust font size as needed */
  color: #000; /* Set text color to black */
  text-align: center; /* Center the text */
  margin-top: 10px; /* Add some spacing below the logo */
  transition: opacity 0.3s ease-in-out; /* Add a smooth fade-in effect */
}

/* Target the hover-message when hovering over the app-logo-cube */
app-logo-cube:hover + .hover-message {
  opacity: 1; /* Make the text visible on hover of the logo cube */
}

.container .box {
  transform-style: preserve-3d;
  animation: spin 10s linear infinite;

  span {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5) 90%, transparent);
    text-transform: uppercase;
    line-height: 0.76em;
    position: absolute;
    color: #fff;
    font-size: 3.5em;
    white-space: nowrap;
    font-weight: bold;
    padding: 0px 10px;
    transform-style: preserve-3d;
    text-shadow: 0 10px 15px rgba(0,0,0,0.3);
    transform: translate(-50%, -50%) rotateX(calc(var(--i) * 22.5deg)) translateZ(109px);

    i {
      font-style: initial;

      &:nth-child(1) {
        color: #6f0505;
      }

      &:nth-child(2) {
        color: #3A81F7;
      }
    }
  }
}

@media (max-width: 950px) {
  .container .box span {
    font-size: 2.5em;
    transform: translate(-50%, -50%) rotateX(calc(var(--i) * 22.5deg)) translateZ(80px);
  }
}

@keyframes spin {
  0% {
    transform: perspective(250px) rotateX(0deg);
  }
  100% {
    transform: perspective(250px) rotateX(360deg);
  }
}