<<<<<<< HEAD
<<<<<<< HEAD
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body{
    font-family: 'DM Sans', sans-serif;
  }
  
=======
=======
>>>>>>> origin
// You can add global styles to this file, and also import other style files

html {
    font-family: "Anuphan", "Georgia", "Times New Roman", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 1rem;
}

body {
    line-height: 1.5;
}
<<<<<<< HEAD
>>>>>>> main
=======
>>>>>>> origin
