<footer class="container-fluid py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <div class="footer-logo">
                            <img src="assets/images/footerlogo.png" class="w-50">
                            <p>1705 State St, Wing Technology Center, La Crosse, WI 54601, United States</p>
                        </div>
                    </div>
                    <div class="col-md-6 px-4">
                        <h6>About Us</h6>
                        <p>CODERS is dedicated to enhancing the La Crosse community through three core purposes. We
                            focus on community outreach by teaching fundamental computer science (CS).</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 px-4">
                        <h6>Pages</h6>
                        <div class="row">
                            <div class="col-md-6">
                                <ul>
                                    <li><a href="javascript:void(0)">Home</a></li>
                                    <li><a href="javascript:void(0)">Research & Projects</a></li>
                                    <li><a href="javascript:void(0)">Opportunities</a></li>
                                    <li><a href="javascript:void(0)">Pictures</a></li>
                                    <li><a href="javascript:void(0)">About Us</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul>
                                    <li><a href="javascript:void(0)">What is the club?</a></li>
                                    <li><a href="javascript:void(0)">Our Mission</a></li>
                                    <li><a href="javascript:void(0)">Join Us</a></li>
                                    <li><a href="javascript:void(0)">Events</a></li>
                                    <li><a href="javascript:void(0)">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h6>Our Socials</h6>
                        <div class="socials">
                            <a href="javascript:void(0)"><fa-icon class="icon" [icon]="faFacebook"
                                    aria-hidden="true"></fa-icon></a>
                            <a href="javascript:void(0)"><fa-icon class="icon" [icon]="faTwitter"
                                    aria-hidden="true"></fa-icon></a>
                            <a href="javascript:void(0)"><fa-icon class="icon" [icon]="faInstagram"
                                    aria-hidden="true"></fa-icon></a>
                            <a href="https://discord.gg/qWepNnmVcb" target="_blank"><fa-icon class="icon"
                                    [icon]="faDiscord" aria-hidden="true"></fa-icon></a>
                            <a href="https://github.com/UWL-CODERS" target="_blank"><fa-icon class="icon"
                                    [icon]="faGithub" aria-hidden="true"></fa-icon></a>
                        </div>
                        <div class="email">
                            <fa-icon [icon]="faEnvelope" /> Reach out to us at <a href="mailto:{{ email }}">{{ email
                                }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col text-center mt-4 copyright-section">
        <p>&copy; 2025 CODERS Club. All rights reserved.</p>
    </div>
</footer>
