<p-carousel [value]="projects()" [numVisible]="3" [numScroll]="1" [circular]="true" [responsiveOptions]="responsiveOptions" autoplayInterval="3000">
  <ng-template let-project pTemplate="item">
    <div class="border border-surface rounded-border m-2 p-4 text-center">
      <div class="mb-2">
        <img [src]="project.imageUrl" [alt]="project.title" class="w-full h-48 object-cover rounded-border" />
      </div>
      <div class="mb-2">
        <h4 class="mb-1">{{ project.title }}</h4>
      </div>
      <div class="overflow-y-auto">
        <p class="text-sm">{{ project.description }}</p>
      </div>
      <div class="mb-2">
        @for (lang of project.languages; track lang) {
          <span class="mr-1 mb-1 inline-block">
            <p-tag class="tag" [value]="lang" />
          </span>
        }
      </div>
      <div class="flex justify-center items-center">
        <a [href]="project.projectUrl" target="_blank" rel="noopener noreferrer">
          <p-button [label]="project.projectButton" icon="pi pi-external-link" styleClass="p-button-sm"></p-button>
        </a>
      </div>
    </div>
  </ng-template>
</p-carousel>